body{
color: #6E3F5F;
font-family: sans-serif;
margin: 0px;
}
body img{ 
  url:"https://www.flickr.com/photos/130976335@N07/16486638852";
  margin-top:120px;
  margin-left:100px;
}
  
div{margin-left:100px;
}
body h1{ margin-top:15px;
   margin-left:10px;
}

a{
  text-decoration: none;
}
nav a {
  color: #F5F5F5;
  background-color:#6E3F5F ;
  border-radius: 2px;
  margin-left:115px;
  margin-top:10px;
  display: inline-block;
  transition: 1s all;
}
nav a:hover{
             background-color:#231D9E ;
}

header {
         text-align: center;
}

header img{
border-radius: 10%;
}

header h1{
font-family: 'Over the Rainbow', cursive;
font-size:80px;
}
h2{
color: #1FCCB2;
font-size:45px;
}

section{
     text-align: center;
     background-image:url(https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/103.jpg);
     background-position: 0px 603px;
     height: 360px;
     background-size: cover;
}

#features{
           background-image: none;
           background-color: #0097a7;
           height: 250px;
           padding: 50px;
           box-sizing: border-box;

}
p{
  color:#140027:;
  background-color:#F3C8F5;
  font-family: 'Verdana',sans-serif;
  font-size:15px;
  margin-top: 120px;
  margin-left:115px;
  padding: 15px;
  width:200px;
  display:inline-block;
  transition: 1s all;
}

button{
color:#140027;
background-color:rgba(0, 0, 255, 0.75)
border: none;
border-radius: 3px;
padding: 20px;
margin-top: 120px;
}
footer{
       background-color:#231D9E;
       height: 150px;
       text-align:center;
       background-color: #2E0A21;
       padding:50px;
       box-sizing: border-box;
       
}

