
 

h1{ 
font-size:48px;
color:white;
font-family:Geneva,'Verdana','Lucida Sans,'Lucida Grande','Lucida Sans Unicode',sans-serif;
text-shadow:0 2px 0 #c9c9c9;
}
head{ color: white;

}
h1,
h2,
h3,
h4{ text-transform:uppercase;
   
}

body{
    url:('http://www.w3.org/html/logo/downloads/HTML5_Logo_32.png)http://www.w3.org/html/logo/downloads/HTML5_Logo_32.pn');
    margin-left:15;
    margin-top:120;
}
