body{

background-color: #29001C;
}
a{ text-decoration: none;
}
footer{
        background-color: #47231D;
        height: 150px;
        text-align: center;
      
        padding: 50px;
        box-sizing: border-box;
    }

  
    
nav a {
  color: #D0ECFA;
  background-color: #59072A;
  border-radius: 2px;
  margin-top: 10px;
  margin-left: 15px;
  display: inline-block;
  transition: 1s all;
  border-box: 5px;
}
nav a:hover{ 
             background-color:#0B6A82;
}
header{text-align: center;
}
header img{ border-radius: 50%;
            border-color: #8AC7B8;
            padding-bottom: 30px;
            padding-right:30px;

}
div{
   margin-top: 500px;
   margin-left: 100px;
   display: inline-block;
   
}



header h1{
font-family: 'Aclonica', sans-serif;
font-size: 30px;
margin-right: 80px;
margin-top: 200px;
color :#350132;
}
header h2{
color: #350132;
font-family:'SigmarOne',cursive;
font-size:15px;
margin-right: 80px;
margin-top: 210px;

}


#features{
           background-image: none;
           background-color: #0097a7;
           height: 250px;
           padding: 50px;
           box-sizing: border-box;
           text-align: center;

}
p{
  color: #F2D3FF;
  background-color:#2E0224;
  font-family: 'Verdana',sans-serif;
  font-size:15px;
  margin-top: 120px;
  margin-left:115px;
  padding: 15px;
  width:200px;
  display:inline-block;
  transition: 1s all;
}
button{
color:#140027;
background-color:rgba(0, 0, 255, 0.75)
border: none;
border-radius: 3px;
padding: 20px;
text-align: center;
}


.menu-selected{ 
 background-color: #591007;
}
table{
   border: solid #000000 5px;
   width: 1214px;
   margin: 0 auto;
}

    
   
