body{
color: #FFFFFF;
background-color: #58CDF4;
font-family: sans-serif;
margin: 0px;
}
div{margin-left:100px;
   margin-bottom:300px;
}
body h1{ margin-top:10px;
   margin-left:10px;
}
a{ text-decoration:none;
}
nav a {
  color: #FFFFFF;
  background-color:#920352;
  border-radius: 2px;
  margin-top:10px;
  margin-left:15px;
  display: inline-block;
  transition: 1s all;
}
nav a:hover{
             background-color:#F4880B;
}

header {
         text-align:center;
}
header img{
width:300px;
margin-top: 85px;
margin-right: -300px;
}
header h1{
font-family: 'Aclonica', sans-serif;
font-size:35px;
}
h2{
color:#2E147F ;
font-size:15px;
}
section{
     text-align: center;
     background-image:url("https://www.flickr.com/photos/130976335@N07/16525513066"); 
     background-position: 0px 603px;
     height: 360px;
 
     background-repeat:repeat-y;
}
#features{
           background-image: none;
           background-color: #0097a7;
           height: 250px;
           padding: 50px;
           box-sizing: border-box;

}
p{
  color:#140027:;
  background-color:#F3C8F5;
  font-family: 'Verdana',sans-serif;
  font-size:15px;
  margin-top: 120px;
  margin-left:115px;
  padding: 15px;
  width:200px;
  display:inline-block;
  transition: 1s all;
}
button{
color:#140027;
background-color:rgba(0, 0, 255, 0.75)
border: none;
border-radius: 3px;
padding: 20px;
margin-top: -250px;
}
footer{
       background-color:#231D9E;
       height: 150px;
       text-align:center;
       background-color: #2E0A21;
       padding:50px;
       box-sizing: border-box;
       
}
img{ url("https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10646989_4950040005592_6186084669485355678_n.jpg?
oh=86ebdfc7fb08fef7030ab700aa0ce7c8&oe=5594F5E4&__gda__=1432669209_7db62595464bd76fc08efbe1df77e6db");
width:300px;

}

.menu-selected{ 
 background-color: #FFFFFF;
}
table{
   width: 1214px;
   margin: 0 auto;
}
